<html>
<head>
    <meta name="google-signin-client_id" content="433666279275-pba1entmia413ubj9ol6mpl2aknv703q.apps.googleusercontent.com">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
</head>
<body>
    <main class="container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div><a href="#" onclick="signOut();">Sign out</a></div>
    </main>
    <script>
        // gapi.load('auth2', function(){
        //     gapi.auth2.init({
        //        client_id: '433666279275-pba1entmia413ubj9ol6mpl2aknv703q.apps.googleusercontent.com'
        //    });
        // });
        window.onLoadCallback = function(){
          gapi.auth2.init()({
            client_id: '433666279275-pba1entmia413ubj9ol6mpl2aknv703q.apps.googleusercontent.com'             
        });
      }
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }       
                }
            }
            return cookieValue;
        }
        function onSignIn(googleUser) {
            console.log('hi');
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            console.log('hi2');
            $.ajax({
                url: 'http://localhost:8000/account/google-auth/',
                method : 'POST',
                data : {
                    'idtoken' : id_token,
                },
                datatype : 'json',
                headers : {
                    'Content-Type':'application/x-www-form-urlencoded',
                    'X-CSRFToken':getCookie('csrftoken'),
                },
                success: function (response){
                    console.log('reached success-1');
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', 'https://www.googleapis.com/oauth2/v3/tokeninfo?id_token=' + id_token,true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.send();
                    console.log('reached 2');
                    xhr.onreadystatechange = function() {
                        console.log('reached 3');
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            info = xhr.responseText;
                            console.log('reached 4');
                            $.ajax({
                                url: 'http://localhost:8000/account/google-login/',
                                method: 'POST',
                                data: {
                                    'info' : info,
                                },
                                dataType: 'json',
                                success: function (response){
                                    console.log("Even Better!")
                                },
                            });
                        }
                    }
                }
            });
        }
                // var xhr = new XMLHttpRequest();
                // xhr.open('POST','http://localhost:8000/account/google-auth/',true);
                // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // xhr.send('idtoken=' +id_token);
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>
</html>


